
    <header class="barra-superior">
        <div class="menu-izquierda">
            <img class="img-perfil" src="https://s3-alpha-sig.figma.com/img/156e/e29b/41183c7e3ec7fd71746891c4bfc8794e?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Pw~HuNGoWwQfCv1uUmRDMUJ8itIdBST9MpgKq2-HqLAA00kC1YafXjJJABPYPHAEOPgG9dmJZUoEGy12aIx0iJZageMQm98kdKDiMOGfAG2W3Dikpl68jgv6WmbOOuw0qFxigZqVDXcerDc9Idk5TkOZWdW1z~HugmN~e34n0Oa8-i6V8I4n9NlXO8QC7oi4bz0BSLk-FSbnSwAvI7Zm~gR76h0Oi5vTbmkKNDIEJH0~wmjQxQbnb4oQ1~V5C69bPXYs6vbha6MYi3UT9RRlZVNeAnbC5h641YaEFr3ZzOVRHLrn9swm7MCR~XNT~u3PNo-0~2uC2kmeMIXMJcCnfQ__" alt="Perfil">
            <a class="l-unimental" [routerLink]="['/']">UniMental</a>
        </div>
        
        <div class="menu-derecha">
            <a class="item" [routerLink]="['/inicio']">Inicio</a>
            <a class="item" [routerLink]="['/evaluacion_m']">Evaluación</a>
            <a class="item" [routerLink]="['/recursos-ayuda']">Recursos y Ayuda</a>
        </div>
        
