/* Barra lateral */
.menu-lateral {
    width: 250px;
    background-color: #0D0A3A;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed; /* Hace que la barra se quede fija */
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    top: 0;
    left: 0;
    z-index: 10;
}

/* Menú central */
.menu-central {
    margin-left: 250px; /* Para que no sobrepase el menú lateral */
    padding: 50px; /* Reducir padding para evitar el desbordamiento */
    width: calc(100% - 250px); /* Ajuste para que el contenido ocupe el resto del espacio */
    height: auto; /* Ajuste automático de altura según el contenido */
    max-height: 100vh; /* Evita que se expanda más allá de la pantalla */
    display: flex;
    flex-direction: column;
    color: black;
    overflow-y: auto; /* Permite desplazamiento solo si el contenido excede el área */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}




/* Estilos generales de la estructura del menú central */
.central-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.primero {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 30px;
}

.central-title {
    font-size: 40px; /* Ajusté el tamaño del título */
    font-weight: bold;
    margin-left: 20px; /* Mueve el título 20px hacia la derecha */

}

.central-content {
    font-size: 20px; /* Ajusté el tamaño del contenido */
    margin: 20px;
    margin-left: 20px; /* Mueve el título 20px hacia la derecha */

}

/* Estilos para el segundo bloque (evaluaciones) */
.segundo {
    display: flex;
    flex-direction: column;
}

.p-bloque, .s-bloque {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas iguales */
    gap: 20px; /* Espacio entre los bloques */
    margin-bottom: 40px;
}

/* Estilos de cada bloque */
.b-item {
    margin-left: 50px; /* Mueve el título 20px hacia la derecha */

    display: flex;
    flex-direction: column;
    background-color: #EAE8F0;
    border-radius: 15px;
    padding: 20px;
    width: 390px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.b-item:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.b-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.b-content {
    font-size: 16px;
    margin-bottom: 20px;
}

.b-button {
    padding: 10px 20px;
    background-color: #4268E4;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    align-self: center;
    width: 120px;
    text-align: center;
    transition: background-color 0.3s;
}

.b-button:hover {
    background-color: #9F8BEC;
}
