<!-- Barra lateral -->
<div class="menu-lateral">
    <app-barra-lateral></app-barra-lateral>
</div>

<!-- Menú central -->
<div class="menu-central">
    <div class="central-item primero">
        <div class="central-title">Historial</div>
        <div class="central-content">Ver test realizados</div>
    </div>

    <!-- Segundo bloque: Evaluaciones -->
    <div class="central-item segundo">
        <div class="p-bloque">
            <!-- Fila 1: tres bloques -->
            <div class="b-item">
                <div class="b-title"><strong>Depresión</strong></div>
                <div class="b-content">Aqui podras ver tus resultados de los test realizados.</div>
                <div class="b-button" routerLink="/depresion">Ver Resultados</div>
            </div>
            <div class="b-item">
                <div class="b-title"><strong>Aislamiento Social</strong></div>
                <div class="b-content">Aqui podras ver tus resultados de los test realizados.</div>
                <div class="b-button" routerLink="/aislamiento">Ver Resultados</div>
            </div>
            <div class="b-item">
                <div class="b-title"><strong>Rendimiento Académico</strong></div>
                <div class="b-content">Aqui podras ver tus resultados de los test realizados.</div>
                <div class="b-button" routerLink="/rendimiento">Ver Resultados</div>
            </div>
        </div>

        <div class="s-bloque">
            <!-- Fila 2: tres bloques -->
            <div class="b-item">
                <div class="b-title"><strong>Grado de Estrés</strong></div>
                <div class="b-content">Aqui podras ver tus resultados de los test realizados.</div>
                <div class="b-button" routerLink="/estres">Ver Resultados</div>
            </div>
            <div class="b-item">
                <div class="b-title"><strong>Tipo de Jugador</strong></div>
                <div class="b-content">Aqui podras ver tus resultados de los test realizados.</div>
                <div class="b-button" routerLink="/tipo-jugador">Ver Resultados</div>
            </div>
            <div class="b-item">
                <div class="b-title"><strong>Procrastinación</strong></div>
                <div class="b-content">Aqui podras ver tus resultados de los test realizados.</div>
                <div class="b-button" routerLink="/procrastinacion">Ver Resultados</div>
            </div>
        </div>
    </div>
</div>
