.itemRecursos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.itemR1 {
    padding: 60px;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: auto;
    height: 20;
    font-size: 60px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D0A3A;
    color: white;
}

.itemR2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 50%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 125px;
    margin: 5px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: start;
    justify-content: start;
}

.card-body {
    height: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    color:black;
}

.card-title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    margin: 0;
    text-align: left;
    color: black;
}

.card-text {
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
    height: fit-content;
}

.back-card {
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 0;
    margin-left: 1620px;
    margin-top: 20px;
    background-color: #4268E4;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.back-card:hover {
    background-color: crimson;
}

.back-card-text {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 14.5px;
}

.enlaces-link {
    text-decoration: none;
    color: rgb(9, 9, 165);
}

.enlaces-link:hover {
    color: crimson;
}