<app-barra-superior></app-barra-superior>
<div class="itemPreguntas">
    <div class="itemR1">PREGUNTAS FRECUENTES</div>

    <div class="itemR2">
        <div class="card">
            <h5 class="card-title">¿Cómo puedo acceder a los artículos sobre salud mental?</h5>
            <ul class="card-body"> 
                <li class="card-text"><strong>Respuesta:</strong> Para acceder a los artículos sobre salud mental, solo debes hacer clic en el recuadro de 
                    "Artículos sobre salud mental" dentro de la sección "Recursos y Ayuda". Allí encontrarás una selección de 
                    artículos y guías diseñadas para apoyar el bienestar mental de los estudiantes.</li>
            </ul>
        </div>
        <div class="card">
            <h5 class="card-title">¿Las herramientas de autoevaluación son confidenciales?</h5>
            <ul class="card-body">
                <li class="card-text"><strong>Respuesta:</strong> Sí, todas las herramientas de autoevaluación son completamente confidenciales. Los resultados 
                    de tus evaluaciones son privados y solo tú tendrás acceso a ellos, a menos que decidas compartirlos con un
                    profesional de apoyo.</li>
            </ul>
        </div>
        <div class="card">
            <h5 class="card-title">¿Puedo obtener consejos personalizados para manejar el estrés?</h5>
            <ul class="card-body">
                <li class="card-text"><strong>Respuesta:</strong> La sección de "Consejos para el manejo del estrés" ofrece recomendaciones generales y 
                    estrategias prácticas. Si deseas consejos personalizados, te recomendamos contactar con un consejero en
                    la sección de "Enlaces de soporte universitario".</li>
            </ul>
        </div>    
        <div class="card">
            <h5 class="card-title">¿Es gratis usar todos los recursos de UniMental?</h5>
            <ul class="card-body">
                <li class="card-text"><strong>Respuesta:</strong> Sí, todos los recursos de UniMental están diseñados para ser gratuitos y accesibles para los 
                    estudiantes universitarios. Algunas secciones pueden requerir que te registres o inicies sesión, pero el 
                    acceso a los recursos es completamente gratuito.</li>
            </ul>
        </div>
        <div class="card">
            <h5 class="card-title">¿Con quién puedo contactar si tengo problemas técnicos en la plataforma?</h5>
            <ul class="card-body">
                <li class="card-text"><strong>Respuesta:</strong> Si tienes problemas técnicos, puedes consultar la sección de "Preguntas Frecuentes" para ver 
                    respuestas comunes. Si tu problema persiste, puedes contactar a nuestro equipo de soporte técnico 
                    a través de un formulario de contacto en la misma sección.</li>
            </ul>
        </div>
    </div>

    <div class="back-card" routerLink="/recursos-ayuda">
        <div class="back-card-text">Volver</div>
    </div>
</div>
