<app-barra-superior></app-barra-superior>
<div class="itemApoyo">
    <div class="itemR1">APOYO COMUNITARIO</div>

    <div class="itemImg">
        <img class="imgApoyo" src="/apoyo-comunitario.jpg" alt="apoyo">
    </div>

    <div class="itemR2">
        
        <div class="text-ayuda">
            <h5 class="text-title">¡Únase a un espacio seguro para conectarse con otros <br>
                estudiantes y compartir apoyo sobre temas de salud mental!</h5>
        </div>
        <div class="card" routerLink="/">
            <div class="card-body">UNIRSE</div>
        </div>
    </div>

    <div class="back-card" routerLink="/recursos-ayuda">
        <div class="back-card-text">Volver</div>
    </div>
</div>
