
.itemApoyo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.itemR1 {
    padding: 70px;
    text-align: center;
    justify-items: center;
    width: auto;
    height: auto;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D0A3A;
    color: white;
}

.itemImg {
    display: flex;
    width: 100%;
    height: 22%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.imgApoyo {
    width: 40%;
    background-size: cover;
    background-position: center;
}

.itemR2 {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.card {
    display: flex;
    width: 160PX;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-top: 10PX;
    align-items: center;
    justify-content: center;
    background-color: #4268E4;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.card-body {
    font-size: 25PX;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    text-align: center;
    color:white;
}

.text-title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: black;
}

.back-card {
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 1620px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #4268E4;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.back-card:hover {
    background-color: crimson;
}

.back-card-text {
    color: white;
    padding-top: 11px;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
