<app-barra-superior></app-barra-superior>
<div class="itemHerramientas">
    <div class="itemR1">Herramientas de autoevaluación</div>

    <div class="itemR2">
        <div class="card">
            <h5 class="card-texto">A través de una detección eficaz de afecciones de salud mental 
                por su cuenta o con un médico, es posible identificar áreas problemáticas 
                y obtener ayuda para avanzar hacia una vida más feliz y saludable.</h5>
        </div>
        <div class="card">
            <h5 class="card-title"><strong>Autoevaluaciones</strong></h5>
        </div>
        <div class="card">
            <h5 class="card-texto">Utilice los siguientes enlaces para obtener autoevaluaciones gratuitas 
                y de buena reputación sobre la salud conductual/mental, el consumo de sustancias y más. 
                Una vez que complete una evaluación, asegúrese de revisar sus 
                resultados y cualquier recomendación con su médico.</h5>
        </div>    
        <div class="card">
            <ul class="card-body">
                <li class="card-text">Adicción</li>
                <li class="card-text">Consumo de alcohol</li>
                <li class="card-text">Ansiedad</li>
                <li class="card-text">Transtorno bipolar</li>
                <li class="card-text">Depresión</li>
                <li class="card-text">Transtorno alimentario</li>
                <li class="card-text">Transtorno obsesivo comppulsivo</li>
                <li class="card-text">Psicosis</li>
                <li class="card-text">Transtorno de estrés postraumático</li>
                <li class="card-text">Abusso de drogas</li>
            </ul>
        </div>
    </div>

    <div class="back-card" routerLink="/recursos-ayuda">
        <div class="back-card-text">Volver</div>
    </div>
</div>
