<!-- Barra lateral -->
<div class="menu-lateral">
    <app-barra-lateral></app-barra-lateral>
</div>




<!-- Contenido central -->
<div class="menu-central">
    <div class="config-header">
        <h1>Configuración</h1>
    </div>

    <!-- Tarjetas de Configuración -->
    <div class="grid-container">
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-user-cog"></i>
            <p>Perfil</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-lock"></i>
            <p>Seguridad</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-language"></i>
            <p>Idioma</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-paint-brush"></i>
            <p>Tema</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-bell"></i>
            <p>Notificaciones</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-database"></i>
            <p>Datos</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-users"></i>
            <p>Usuarios</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-question-circle"></i>
            <p>Ayuda</p>
        </div>
        <div class="config-card" onclick="location.href='#'">
            <i class="fas fa-sign-out-alt"></i>
            <p>Cerrar Sesión</p>
        </div>
    </div>
</div>

<!-- Iconos de FontAwesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

