/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    height: auto;
    width: auto;
    background-color: rgb(241, 241, 241);
    color: crimson;
}
html{
    margin: 0px;
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
