<app-barra-superior></app-barra-superior>
<div class="itemEnlaces">
    <div class="itemR1">ENLACES DE SOPORTE UNIVERSITARIO</div>

    <div class="itemR2">
        <div class="card">
            <h5 class="card-title"><strong>Asesoramiento Psicológico</strong></h5>
            <ul class="card-body">
                <li class="card-text">Centro de Bienestar Universitario: <a class="enlaces-link" href="https://www.ulima.edu.pe/departamento/vida-deportiva-ulima/centro-de-bienestar-universitario" target="_blank" rel="noopener noreferrer">Centro bienetar universitario</a></li>
                <li class="card-text">Línea de Apoyo 24/7: <a class="enlaces-link" href="https://kalmaperu.org" target="_blank" rel="noopener noreferrer">Linea Apoyo 24/7</a></li>
                <li class="card-text">Terapia Online: <a class="enlaces-link" href="https://www.psychologytoday.com/pe/psicologos/lima?gad_source=1&gclid=Cj0KCQiA_9u5BhCUARIsABbMSPuMgeYZL7jjWh92Mko4rFCP9941ucaUecEPN2SzQUNU18C10OzbbG0aAsnVEALw_wcB" target="_blank" rel="noopener noreferrer">Counseling Virtual</a></li>
            </ul>
        </div>
        <div class="card">
            <h5 class="card-title"><strong>Asesoramiento Académico</strong></h5>
            <ul class="card-body">
                <li class="card-text">Oficina de Orientación Académica: <a class="enlaces-link" href="https://www.upn.edu.pe/acompanamiento-al-estudiante" target="_blank" rel="noopener noreferrer">Orientación Academica</a></li>
                <li class="card-text">Tutoring Program: <a class="enlaces-link" href="https://tutordoctor.pe/tutorias/" target="_blank" rel="noopener noreferrer">Programa de Tutorías</a></li>
                <li class="card-text">Recursos de Estudio en Línea: <a class="enlaces-link" href="https://biblioteca.upn.edu.pe/biblioteca-virtual" target="_blank" rel="noopener noreferrer">Biblioteca Digital</a></li>
            </ul>
        </div>
        <div class="card">
            <h5 class="card-title"><strong>Servicios de Apoyo Social</strong></h5>
            <ul class="card-body">
                <li class="card-text">Grupos de Apoyo para Estudiantes Internacionales: <a class="enlaces-link" href="https://www.upn.edu.pe/experiencia-de-nivel-internacional" target="_blank" rel="noopener noreferrer">Apoyo Internacional</a></li>
                <li class="card-text">Programa de Mentores: <a class="enlaces-link" href="https://juventud.gob.pe/registro-nacional-de-organizaciones-juveniles/programa-de-voluntariado-mentorias-para-organizaciones-juveniles/" target="_blank" rel="noopener noreferrer">Mentoria</a></li>
                <li class="card-text">Actividades de Integración: <a class="enlaces-link" href="https://estudiante.upn.edu.pe/eventos" target="_blank" rel="noopener noreferrer">Eventos y Actividades</a></li>
            </ul>
        </div>    
        <div class="card">
            <h5 class="card-title"><strong>Recursos de Apoyo para Diversidad e Inclusión</strong></h5>
            <ul class="card-body">
                <li class="card-text">Oficina de Inclusión y Diversidad: <a class="enlaces-link" href="" target="_blank" rel="noopener noreferrer">Diversidad e Inclusión</a></li>
                <li class="card-text">Grupos de Estudiantes: <a class="enlaces-link" href="https://www.meetup.com/es/" target="_blank" rel="noopener noreferrer">Clubes y Grupos</a></li>
                <li class="card-text">Capacitaciones en Diversidad: <a class="enlaces-link" href="https://estudiante.upn.edu.pe/noticias" target="_blank" rel="noopener noreferrer">Capacitaciones</a></li>
            </ul>
        </div>
    </div>

    <div class="back-card" routerLink="/recursos-ayuda">
        <div class="back-card-text">Volver</div>
    </div>
</div>
