<app-barra-superior></app-barra-superior>

<div class="hero-section">
    <!-- Hero Section -->
    <div class="hero-content">
        <h1 class="hero-title">Diagnóstico Inteligente de <br> Salud Mental Universitaria</h1>
        <p class="hero-subtitle">Evaluación confidencial respaldada por IA y datos de Estudiantes</p>
        <button class="hero-button" [routerLink]="'/evaluacion_m'">Iniciar Evaluación</button>
    </div>
</div>
<div>
    <!-- Card Section -->
    <div class="cards-container">
        <div class="card">
            <img class="card-img" src="https://s3-alpha-sig.figma.com/img/4817/7ecb/0ed34fd0d8cad0193a72bba49bb85935?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=H49f3Zt1VfqnYcpCqCbNWy9-c~KbVAP1z66MxU7MPCHwYrDytTdyCD5QkCZc0fuklNUlzX4YXn2JvoSSnT79bNhlpfnAvtGECTpWbx-qTOernHDCaxq39xY7ni2vWAkR0r4vyoxKukBHpyS-VEmBY2SDM2uXWaBuSQELYxsGbTd23L8~y9180rnYCi7Yt508x1OTh4~gPKsZznBzXwTzEV8dwyi3EwsQh-uswUjlXGbz33hOnsIH12ZI7uITgIh~Tav4JrsyYce5byER04SDP291htrZlCHhaFl4jSosr0o3GYr0H4k9B9r-pIF2skIio36mjIMEvbSyPcKwd~vsWQ__" alt="Confidencial">
            <h5 class="card-title">100% Confidencial</h5>
            <p class="card-text">Tus datos están protegidos</p>
        </div>
        <div class="card">
            <img class="card-img" src="https://s3-alpha-sig.figma.com/img/60be/9061/e9ea5563b2b0bc93430c76690b44fa6c?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UOWils4M5XnAl1iYR8HLx47qs9RXBIQAv0Wp~bUq33iqLqJ34qw7HLKVUc7AbkmkWwsp-aWTRSbx4mlydGo3ivVKYZv9H0yHiHJVvE6SXfMluAy~JouZ6hdl3kh-iEDl3IWE1aFTg80DkIk0jui5rNGFrJGNjD5klvmLE6WMlg2YzZdYkuUC2Af4w1IkjhIuhhUneGzPDB9NN1ilJrY0CT225J-20BYJ1M0GaqoJ5c6q7rddm2~pzmbd8h0-5xJ6DErXnjR32O~kUFmWlIHDpNDqkHcHEI072XldoQGNsOuY92nRzadoqWN09LY6EXm1ygr9PUP109Pn2GSpa1fPqw__" alt="Recursos">
            <h5 class="card-title">Recursos y Ayuda</h5>
            <p class="card-text">Encuentra guías y apoyo en bienestar mental</p>
        </div>
        <div class="card">
            <img class="card-img" src="https://s3-alpha-sig.figma.com/img/e182/f838/bee61138c797b5cc7272eebe19d5607d?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zp8MqO-k4qZelpRqBDUpyUh9pMrVynhQHxOILutgH-1AKCOxaDchSxJa0dtJeKr3mKcIjt-y7Icw8aOSoosvLTmNvzlZT0sHnFiRZSVFYJompl0zXg8zSuzruGuWxpY56GovjkOUvp5VTzK95yt27fPUjQVwah2tL2ncQaqEs14PDt7B~-YRKLBkpbu5qYYqWiqodD~CdRNmvdpc77ZUNMynmuMyyXzM4xlH~KFQvyD1VTnyJdGN84kaxBeuJ35zofmXLm-O9WscIX7PEMi74pIQ3KQ8u7M0moh61VzDt4EnYZLjQADVxT7l4d9~bS9~eTmQdr-dqrjQftpl-HFyfQ__" alt="IA Respaldada">
            <h5 class="card-title">IA Respaldada</h5>
            <p class="card-text">Evaluaciones precisas y científicas</p>
        </div>
    </div>
</div>
<div class="general"></div>
<app-footer></app-footer>
