<app-barra-superior></app-barra-superior>

<div class="hero-section">
    <!-- Hero Section -->
    <div class="hero-content">
        <h1 class="hero-title">Recursos y Ayuda</h1>

    </div>
</div>
<div>
    <div class="itemR2">
        <div class="cards-container">
            <div class="card" [routerLink]="['/noticias']">
                <img class="card-img" src="https://s3-alpha-sig.figma.com/img/d145/4058/04a0525952cca0819fe35c15807b4bc3?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AhG12k0eD7MbR2Gzs0RRRoDak0M1lFRuxyR-uz8zvip3PpwRTCd8e-B7XjiKrmirG7zbXeT6Ade05nTcgPUQTGsBznWsf~ku~GGBd9OqIAxrl3QcJFQvTPFmeE4q6SxG3xciCbcXT~4ygyaACaB-Nka-7Vcoa24NcAaiDSO-WY-yCdas8k8zhcgryXVZqFQ8sPCvcGLlAvzxmobTRC~fdA44JXH~CUP1vu~z37VNJ3ix6SqptwFmk67qbR3BzuuWh4XsduLS9DvlX4c4yPt~xVgTKbSLlfdKBois335JvojMFT2ctqNoxiOrEcHX8saRwVBC9d0pfUZOBO~vurfxrg__" alt="Artículo sobre salud mental">
                <h5 class="card-title">Artículo sobre salud mental</h5>
                <p class="card-text">Lea artículos y guías sobre bienestar mental diseñados para estudiantes universitarios</p>
            </div>
            <div class="card" [routerLink]="['/herramientas']">
                <img class="card-img" src="https://s3-alpha-sig.figma.com/img/6866/874c/fd4bcb611b1b4c5e5e02ab4f187f77b2?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qFrVlz7K3BDgb6S10K5e0~QfT8gOTd8R5fnPO1Si05BWnZV0SLej73c5KwADb8Vm~j~EsS7bp0QrpShFXr17PaMNZTKP0YJhdAupDoCmyx71vxe9soZWbdYrHmTO9lJjpK5dm5Zh5lN-UZqHgDF9sE6Vtwg2eF7O-r1bAu9yx7KO9Jn0nOeM6380VwFxHjbyAFxjLm~3ElGMHvCPRkHpAAOM0bg5B04B~kl~Y~QwlqG8S-kSY97o3OpmprQlzG4o8UwXxvu39k8gNXDLGZNdY7Tr1Pb9DEqasc0CExUlDLjvlgj8a~Q~i1QzrSUmmC8XGbe3F~-~1OEriUgpAxg99g__" alt="Herramientas de autoevaluación">
                <h5 class="card-title">Herramientas de autoevaluación</h5>
                <p class="card-text">Evalúe su salud mental con herramientas de autoevaluación confidenciales</p>
            </div>
            <div class="card" [routerLink]="['/consejos']">
                <img class="card-img" src="https://s3-alpha-sig.figma.com/img/5ddd/c1e4/a71c9f543598d057a9e8dcfba131a908?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=k1Frl4~ImryetDgyliyTmDEDHkXeUnJ77LvIViXlLP8i4WzEOC-uCf3c3GUZdQ1b3T9ZSIJ2Gi7SngzG6pA8PV6~C2pSfpioSm1yPEkhGGE5sryf8y-3A8Q8KIYpgyJoSFz3TIegx55dnGipoYTvAnIAvqLtQDMwYJDOjwz~~jRB0YWk2qyHan7wfmWg1VVtuB5qYMKcJIBSFi4rwKgtg71U9izyHrI6osALcMRe4PRfZZl9V1QYQ5Wmx7eVeowzIvuCH87jIz91K7Q8~pHnTUL3yG-6YVf2oT-vDUkmOwFy~-xsFNaYBYWmpUPGFpeC~Q7675HVfZZu64pPbjljBg__" alt="Consejos para manejo del estrés">
                <h5 class="card-title">Consejos para manejo del estrés</h5>
                <p class="card-text">Encuentre consejos prácticos para ayudar a gestionar el estrés académico y personal de forma eficaz</p>
            </div>
        </div>

        <div class="cards-container">
            <div class="card" [routerLink]="['/enlaces']">
                <img class="card-img" src="https://s3-alpha-sig.figma.com/img/b6e7/6ce1/5d20c5225f9d613962d8e1cbaf507ffd?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=k6UMTE70NkvgMqyl3yfGLVnAPDxUpp78dvt4LNwOl378HONvsfWgGBxi~Qc6zSPOEnyTsugg6eedz-C5j~csdbhiQZjiVRAH0EUNNJiMVlz3k~1E412aaSltRqfKUgTV16p7qebjXKDOWjEeiyLEUcpTQislR5ZpZx0rpNoMxi1pd8URSNmqdk0A3dRrlMM8Se9z2nVf17BElS3Qt6dvO5XQPOtfOeW2B0b3MnPIy9eiZMOi8LZe7yzMsAb5KCeQnYdnx~YDeBF7iBFJwO0g~u2DFM65bxcuNyMDgel5QPveiAG4gfvTCzMaweADNevNksYOKJE2hp~1OEGW2ykSMg__" alt="Enlaces de soporte universitario">
                <h5 class="card-title">Enlaces de soporte universitario</h5>
                <p class="card-text">Enlaces de acceso a servicios de asesoramiento y apoyo universitario</p>
            </div>
            <div class="card" [routerLink]="['/preguntas']">
                <img class="card-img" src="https://s3-alpha-sig.figma.com/img/57df/e601/6c9892b11459dbd822855b475b4ea065?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NEo4~ZaJkUPr0gcu88c-blQ6jML83lCs1rnKgxilx~aMl5FqnTisqgM--B9bPrsye4lKHK7LOygGDuksaHH0cvzHvQNb5yDtK2BsNhOF4Gh~m35hMbveVe~4c~I9pUSr2v1kjz0NJvvHm0QkMr-XKT-7fCy3JIJ~C2aSn7Fg5WzWmAXYTOjBArzbVl7XpR-aDBt92RuuPuRIIwUBaCrkUN8vbFYRlwO02urd0GJXx9RngI0qfkQF6EjQLTJSEG2v6WwBxWnHDZFGN6NgHOXRrw0HzAOJ~bDYdp7WiwfYFI~C9tjm6fosUO6IhedbKGdCm18LpEdEpFOlJkjFSdCwRA__" alt="Preguntas frecuentes">
                <h5 class="card-title">Preguntas frecuentes</h5>
                <p class="card-text">Encuentre respuestas a preguntas comunes sobre la plataforma y la privacidad</p>
            </div>
            <div class="card" [routerLink]="['/apoyo']">
                <img class="card-img" src="https://s3-alpha-sig.figma.com/img/5716/71c8/061f297d91806fe426a030f030a03afc?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cFW3dOc1BpPP89k8S7qIJvG9y8AvOxE4hp-4pVFQNekCeOBkMOxkxQJT1QwvaCKgjFTpDYAUC3fUXxslyCS--DHkA7-wBvg2Wqnr8X6PNCu02H62yhwpVOC8kxIJZ4tNV1Y7h2m03XnWtVdesibGcZzj7-gwseAOxHp~g0quUOrVyLN~z5eJVCBIFngEFtyctVcxQ6KHuXci5kkZQbDYYQP0RY6DODqGEw4ae~seRsV6T6EcUoBP3vCgbsG9wdIK1HAjJtaJJ7qPGgUYqJx9JoLtw0mdfvwEatLCN8K-v6wkLR0qMF-U~3C7EU3FtiJ~oDUFv7WvtSDafatsrPyQ5g__" alt="Apoyo comunitario">
                <h5 class="card-title">Apoyo comunitario</h5>
                <p class="card-text">Únase a un espacio seguro para conectarse con otros estudiantes y compartir apoyo sobre temas de salud mental</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>