<app-barra-superior></app-barra-superior>


<div class="evaluacion-container">
    <div class="evaluacion-card">
      <div class="card-content">
        <div class="text-content">
          <h1 class="evaluacion-title">Está a punto de empezar</h1>
          <p class="evaluacion-subtitle">Esta será una nueva experiencia en la que usted podrá saber qué padece</p>
  
          <div class="buttons-container">
            <div class="button-item">
              <p class="question">¿Ya tiene una cuenta?</p>
              <button class="button" [routerLink]="['/register']">Registrar</button>
            </div>
            <div class="button-item">
              <p class="question">¿Ya ha ingresado antes?</p>
              <button class="button" [routerLink]="['/login']">Iniciar sesión</button>
            </div>
          </div>
        </div>
        <div class="avatar-container">
          <img class="avatar" src="https://sgame.etsisi.upm.es/pictures/27045.png?1646116885/" alt="Avatar" />
        </div>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>